.jumbotron {
  
  background-image: url("hearts.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;

}

.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#survey {
  background-image: url("clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat
}

 

  